{{ $category := .CurrentSection }}
{{ $tags := .Params.tags }}
<p>
  <small>
    LastMod {{ .Lastmod.Format "January 2, 2006" -}}&nbsp;&hyphen;&nbsp;
    {{ .ReadingTime -}}&nbsp;min read&nbsp;&hyphen;&nbsp;
    {{ .WordCount -}}&nbsp;word count
    {{ if and ( $category ) ( eq $category.FirstSection.Title "Blog" ) }}<br/>Topic <a href="{{ $category.RelPermalink }}">{{ $category.Title }}</a>{{ end }}
    {{ if $tags }}<br/>Tags {{ range $tags }}{{ $tag := . -}}<a href="/tags/{{ $tag }}">{{ $tag }} </a>{{ end }}{{ end }}
  </small>
<p>
