{{ define "main" }}

{{ if eq . (.Site.GetPage "/tags") }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    {{ range .Pages.ByTitle -}}
    <div class="card-list">
      <div class="card">
        <div class="card-body">
          <strong><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></strong>
          <p>{{ .Description | safeHTML }}</p>
          {{ range first 5 (where .Pages.ByLastmod.Reverse "Kind" "eq" "page") }}
          <div>
            <small><a href="{{ .RelPermalink }}">{{ .Title -}}</a>&nbsp;&hyphen;&nbsp;LastMod {{ .Lastmod.Format "January 2, 2006" -}}</small>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end -}}
  </div>
</div>

{{ else }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
      <div class="card-list">
        {{ range (where .Data.Pages.ByLastmod.Reverse "Kind" "eq" "page") -}}
        <div class="card">
          <div class="card-body">
            <h3>
              <a href="{{ .RelPermalink }}">{{ .Params.title }}</a>
            </h3>
            <p>{{ .Description | safeHTML }}</p>
            {{ partial "main/page-meta.html" . }}
          </div>
        </div>
        {{ end -}}
      </div>
    </article>
  </div>
</div>

{{ end }}

{{ end }}
